body {
    background: rgb(63,251,220);
    background: radial-gradient(circle, rgba(63,251,220,1) 55%, rgba(70,104,252,1) 83%);

}

.topnav {
    list-style: none;
    font-weight: bold;
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    height: 38px;
}
.topnav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

.topnav li {
    margin: 0px;
    display: inline-flex;
}

.topnav a {
    float: left;
    background-color: rgb(184, 184, 184);
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    width: 228px;
    
}

.topnav a:hover {
    background-color: white;
}

.aboutMeContainer {
display: flex;
width: 75%
}

.aboutMeContainer p {
    width: 70%;
    margin-right: var(--spacing-3);
}

.aboutMeContainer img {
    width: 300px;
    border-radius: 20px;
    flex-shrink: 0;
    height: 250px;
    
}

.image-container {
    height: auto;
}

.image-container img {
    height: 50px;
    margin: 15px;
    
}

